/* // src/pages/HomePage/HomePage.module.scss */
@import "../../styles/_variables.scss"; // Import variables

.homePage {
  padding: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.headline {
  font-size: 1.5rem;
  color: $primary-green; // Example color from variables
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.filterBar {
  padding: 1rem 0;
  border-bottom: 1px solid $light-grey;
  margin-bottom: 1.5rem;
}

.filterList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

.filterItem {
  .filterButton {
    padding: 0.5rem 1rem;
    border: 1px solid $medium-grey;
    border-radius: 20px;
    background-color: $white;
    color: $text-color-dark;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    &:hover {
      background-color: $light-grey;
    }
  }

  &.active {
    .filterButton {
      background-color: $primary-blue;
      color: $white;
      border-color: $primary-blue;
      &:hover {
        background-color: $secondary-blue;
        transition: all 0.3s ease;
      }
    }
  }
}

.artworkGrid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* // Responsive grid */
  gap: 1.5rem;
  // Just for placeholder visualization:
  background-color: $light-grey;
  padding: 1.5rem;
  border-radius: 8px;
}
